<div class="border-default universal-padding">
    <div class="group-title">
        <h2>From Our Blog 111</h2>
    </div>
    <div class="row">
        <!-- Popular Categorie Activation Start -->
        <div class="popular-cat-active owl-carousel">
            <!-- Dual Blog Start -->
            <div class="dual-pop-pro">
                <!-- Single Blog Start -->
                <div class="main-pop-cat col-12">
                    <div class="pop-cat-img">
                        <a href="blog-details.html">
                            <img src="/assets/img/blog/1.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="pop-cat-content">
                        <h4>
                            <a href="blog-details.html">
                                Claritas est etiam processus dynamicus
                                qui sequitur mutationem.
                            </a>
                        </h4>
                        <span>17/May/2018</span>
                        <a class="pop-link" href="blgo-details.html">Read more</a>
                    </div>
                </div>
                <!-- Single Blog End -->
                <!-- Single Blog Start -->
                <div class="main-pop-cat col-12">
                    <div class="pop-cat-img">
                        <a href="blog-details.html">
                            <img src="/assets/img/blog/2.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="pop-cat-content">
                        <h4>
                            <a href="blog-details.html">
                                Eodem modo typi qui nunc nobis videntur
                                parum clari.
                            </a>
                        </h4>
                        <span>27/June/2018</span>
                        <a class="pop-link" href="blgo-details.html">Read more</a>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <!-- Dual Blog End -->
            <!-- Dual Blog Start -->
            <div class="dual-pop-pro">
                <!-- Single Blog Start -->
                <div class="main-pop-cat col-12">
                    <div class="pop-cat-img">
                        <a href="blog-details.html">
                            <img src="/assets/img/blog/2.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="pop-cat-content">
                        <h4>
                            <a href="blog-details.html">
                                Eodem modo typi qui nunc nobis videntur
                                parum clari.
                            </a>
                        </h4>
                        <span>11/Aprilo/2018</span>
                        <a class="pop-link" href="blgo-details.html">Read more</a>
                    </div>
                </div>
                <!-- Single Blog End -->
                <!-- Single Blog Start -->
                <div class="main-pop-cat col-12">
                    <div class="pop-cat-img">
                        <a href="blog-details.html">
                            <img src="/assets/img/blog/1.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="pop-cat-content">
                        <h4>
                            <a href="blog-details.html">
                                Claritas est etiam processus dynamicus
                                qui sequitur mutationem.
                            </a>
                        </h4>
                        <span>17/June/2018</span>
                        <a class="pop-link" href="blgo-details.html">Read more</a>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <!--- Dual Blog End -->
            <!-- Dual Blog Start -->
            <div class="dual-pop-pro">
                <!-- Single Blog Start -->
                <div class="main-pop-cat col-12">
                    <div class="pop-cat-img">
                        <a href="blog-details.html">
                            <img src="/assets/img/blog/2.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="pop-cat-content">
                        <h4>
                            <a href="blog-details.html">
                                Eodem modo typi qui nunc nobis videntur
                                parum clari.
                            </a>
                        </h4>
                        <span>11/Aprilo/2018</span>
                        <a class="pop-link" href="blgo-details.html">Read more</a>
                    </div>
                </div>
                <!-- Single Blog End -->
                <!-- Single Blog Start -->
                <div class="main-pop-cat col-12">
                    <div class="pop-cat-img">
                        <a href="blog-details.html">
                            <img src="/assets/img/blog/1.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="pop-cat-content">
                        <h4>
                            <a href="blog-details.html">
                                Claritas est etiam processus dynamicus
                                qui sequitur mutationem.
                            </a>
                        </h4>
                        <span>17/June/2018</span>
                        <a class="pop-link" href="blgo-details.html">Read more</a>
                    </div>
                </div>
                <!-- Single Blog End -->
            </div>
            <!-- Dual Blog End -->
        </div>
        <!-- Popular Categorie Activation End -->
    </div>
</div>